<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poll Detail</title>
</head>
<body>
    {% comment %}<h1>{{ poll.question }}</h1>
    <ul>
        {% for choice in poll.choices.all %}
            <li>{{ choice.choice_text }}</li>
        {% endfor %}
    </ul>{% endcomment %}
    <form action="{% url 'polls:vote' poll.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ poll.question }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in poll.choices.all %}
                <input type="radio" name="choice" id="choices{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choices{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
    </form>
</body>
</html>