<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poll List</title>
</head>
<body>
    {% if latest_poll_list %}
        <ul>
            {% for question in latest_poll_list %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
</html>